body{
	background: #c4c4c4;
	font-size: 120%;
}
h1{
	color: #ffffff;
}
header{
	background: #595757;
	text-align: center;
	height:  150px;
	marging:  10px;
	padding: 10px;
}
nav{
	font-size: 150%;
}
section{
	display: inline-block;
	width: 30%;
	margin: 5px;
	padding: 10px;
	float: left;
}
footer{
	clear: both;
	background: #595757;
}
img{
	width: 125px;
	padding: 10px;
}